body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background: #000;
    color: #ffffff;
}

.navbar-container {
    margin-bottom: 40px;
}

h1 {
    margin-bottom: 10px;

}

.navbar-1 {
    background: #484848;
    padding: 10px;

}

.navbar-1 ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

.navbar-1 li {
    display: inline;
}

.navbar-1 a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 15px;
    position: relative;
}

.navbar-1 .login-btn {
    background: #0832ec;
    color: #ffffff;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navbar-1 a::after {
    content: "abc";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #7586d1;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.navbar-1 a:hover::after {
    transform: scaleX(1);
}

.navbar-2 {
    background: #8a85f1;
    width: 200px;
    padding: 20px;

}

.navbar-2 a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 10px;
    cursor: pointer;

}

.navbar-2 a:hover {
    background-color: #1106f4;
}

.navbar-2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar-2 li {
    margin-bottom: 12px;
}

.navbar-2 .login-btn {
    background-color: #00FFFFFF;
    border: none;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.navbar-2 .login-btn:hover {
    background: #1106f4;
    color: #ffffff;

    border: none;
}